@charset "UTF-8";

/* reset */
body {
  background: #fff;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

ul li:first-child {
  margin-left: 0;
  margin-top: 0;
}

.text p:last-child {
  margin-bottom: 0;
}

.btn a,
.btn button {
  cursor: pointer;
  display: inline-block;
}

/* Мои классы */
.body-stop {
  overflow: hidden !important;
}

.hidden {
  display: none;
}

/* containers */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1340px) {
  .container {
    min-width: 970px;
    width: 85%;
  }
}

@media screen and (max-width: 991px) {
  .container {
    min-width: 0;
    width: auto;
    max-width: 750px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: none;
    padding: 0 30px;
  }
}

@media screen and (max-width: 574px) {
  .container {
    padding: 0 15px;
  }
}

/* Адаптивные свойства */
body {
  font-family: 'Manrope';
  font-weight: 400;
}

.title--def {
  color: #11243E;
  font-size: calc(20px + 15 * ((100vw - 320px) / 2200));
  font-weight: 400;
}

.subtitle--def {
  color: #505ACC;
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 2200));
  font-weight: 400;
}

.btn--purple {
  border-radius: 5px;
  background: #505ACC;
  border: 1px solid #505ACC;
  color: #fff;
  font-weight: 500;
  font-size: calc(16px + 2 * ((100vw - 320px) / 2200));
  padding: 18px 36px;
  transition: 0.2s ease;
  display: inline-block;
}

.btn--purple:hover {
  background: #3341E1;
}

.btn--yellow {
  border-radius: 5px;
  background: #FDD21B;
  color: #11243E;
  font-weight: 500;
  font-size: calc(16px + 2 * ((100vw - 320px) / 2200));
  padding: 18px 36px;
  transition: 0.2s ease;
  display: inline-block;
  box-shadow: 1px 1px 38px 0 rgba(0, 0, 0, 0.09);
  border: 1px solid #FDD21B;
}

.btn--yellow:hover {
  background: #FFE160 !important;
  border-color: #FFE160 !important;
  color: #11243E !important;
}

.btn--white {
  border-radius: 5px;
  background: #fff;
  color: #11243E;
  font-weight: 500;
  font-size: calc(16px + 2 * ((100vw - 320px) / 2200));
  padding: 18px 36px;
  transition: 0.2s ease;
  display: inline-block;
  border: 1px solid #fff;
}

.btn--white:hover {
  background: #11243E;
  color: #fff;
  border: 1px solid #11243E;
}

.text--def {
  color: #11243E;
  font-size: calc(16px + 2 * ((100vw - 320px) / 2200));
  line-height: 140%;
}

.text-area p:last-child {
  margin-bottom: 0;
}

.tabs__links--def {
  display: flex;
}

.tabs__link--def {
  font-size: 18px;
  color: #11243E;
  padding: 10px 31px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.tabs__link--def:hover {
  color: #fff;
  background: #989ff1;
}

.tabs__link--def.active {
  color: #fff;
  background: #505ACC;
  cursor: default;
  box-shadow: 2px 5px 21px 0 rgba(80, 90, 204, 0.46);
}

.tabs__link--def.active:hover {
  background: #505ACC;
}

/* Слайдер */
.slider-arrows--def {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 80px;
  z-index: 9999;
}

.slider-arrows--def .slick-arrow {
  cursor: pointer;
  background: none;
  width: 35px;
  height: 35px;
}

.slider-arrows--def .slick-prev {
  background: url(../img/arrow-left.svg) no-repeat center center;
}

.slider-arrows--def .slick-prev:hover {
  background: url(../img/arrow-left-active.svg) no-repeat center center;
}

.slider-arrows--def .slick-next {
  background: url(../img/arrow-right.svg) no-repeat center center;
}

.slider-arrows--def .slick-next:hover {
  background: url(../img/arrow-right-active.svg) no-repeat center center;
}

/* Элементы формы */
/* field--default (input, textarea) */
.field--default {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  border: 1px solid #505ACC;
  border-radius: 10px;
  padding-left: 20px;
}

/* цвет placeholder у input, textarea */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #B0B7BF;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #B0B7BF;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #B0B7BF;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #B0B7BF;
}

/* Чекбокс */
.checkbox {
  display: flex;
  align-items: center;
  color: #11243E;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  border: 1px solid #B0B7BF;
  margin-right: 10px;
  border-radius: 2px;
}

.checkbox input[type=checkbox]:hover {
  display: inline-block;
}

.checkbox input[type=checkbox]:checked {
  background: url(../img/checkbox-checkmark.svg) no-repeat center center;
}

/* strukture */
/* header */
.header {
  padding-top: calc(30px + 16 * ((100vw - 320px) / 2200));
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  font-size: 16px;
  color: #11243E;
  transition: 0.2s ease;
}

.menu__link br {
  display: none;
}

.menu__link:hover {
  color: #505ACC;
}

.menu__item {
  margin-right: 45px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__btn.btn--purple {
  padding: 8px 16px 8px 42px;
  background-image: url(../img/user.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
}

.header__btn.btn--white {
  padding: 8px 16px 8px 42px;
  background-image: url(../img/user2.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  background-color: #fff !important;
  color: #11243E;
}

.header__burger {
  display: none;
}

.header__nav {
  transition: 0.2s ease;
}

.header__nav-close {
  display: none;
}

.header__nav-socials {
  display: none;
  position: absolute;
  left: calc(37px + 23 * ((100vw - 320px) / 1600));
  bottom: 45px;
}

.header__nav-link {
  margin-right: 14px;
}

.header__logo {
  width: 200px;
  transition: 0.2s ease;
}

.header__logo img {
  width: 100%;
}

.header__logo:hover {
  transform: scale(1.03) rotate(1deg);
}

/* main-section */
.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__left {
  width: 48%;
}

.main__right {
  width: 50%;
}

.main__right video {
  max-width: 100%;
}

.main {
  padding-top: calc(50px + 23 * ((100vw - 320px) / 2200));
}

.main__title {
  font-size: calc(23px + 27 * ((100vw - 320px) / 2200));
  font-weight: 500;
  line-height: 130%;
  color: #11243E;
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 2200));
  cursor: default;
}

.main__text {
  color: #11243E;
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  margin-bottom: calc(25px + 54 * ((100vw - 320px) / 2200));
  cursor: default;
}

.main__btns {
  display: flex;
  align-items: center;
}

.main__btn {
  font-weight: 600;
  line-height: 140%;
  color: rgba(17, 36, 62, 0.7);
  height: 110px;
  width: 308px;
  padding-top: calc(15px + 8 * ((100vw - 320px) / 2200));
  padding-left: calc(15px + 8 * ((100vw - 320px) / 2200));
  border-radius: 11px;
}

.main__btn--yellow {
  margin-right: 40px;
  background: url(../img/main-yellow-btn.svg) no-repeat calc(100% - 10px) calc(100% - 10px), #FDD21B;
  color: #11243E;
  transition: 0.2s ease;
}

.main__btn--yellow:hover {
  transform: scale(1.1);
  background-color: #ffce00;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

.main__btn--purple {
  background: url(../img/main-purple-btn.svg) no-repeat calc(100% - 10px) calc(100% - 10px), #505ACC;
  color: #fff;
  transition: 0.2s ease;
}

.main__btn--purple:hover {
  transform: scale(1.1);
  background-color: #414dd7;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
}

.header__btn-area--2 {
  display: none;
}

/* one-section */
.one {
  padding-top: calc(85px + 55 * ((100vw - 320px) / 2200));
}

.one__wrapper {
  background: #505ACC;
  border-radius: 20px;
  padding-top: calc(30px + 25 * ((100vw - 320px) / 2200));
  padding-left: calc(30px + 80 * ((100vw - 320px) / 2200));
  padding-right: calc(17px + 74 * ((100vw - 320px) / 2200));
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 14px 16px 49px 0 rgba(80, 90, 204, 0.25);
}

.one__title {
  font-size: calc(20px + 25 * ((100vw - 320px) / 2200));
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 2200));
  color: #fff;
}

.one__text.text--def {
  color: #fff;
}

.one__text-area {
  margin-bottom: calc(35px + 10 * ((100vw - 320px) / 2200));
}

.one__btns {
  display: flex;
}

.one__btn-area {
  margin-right: 22px;
}

.one2__btn-area {
  margin-right: 28px;
}

.one__btn-icon {
  position: relative;
  bottom: 14px;
}

/* we-section */
.we {
  padding-top: calc(60px + 40 * ((100vw - 320px) / 2200));
  padding-bottom: calc(60px + 40 * ((100vw - 320px) / 2200));
  background: #FBFBFB;
}

.we__title-area {
  margin-bottom: calc(30px + 45 * ((100vw - 320px) / 2200));
}

.we__tabs-links {
  background: #fff;
  padding: 10px;
  margin-bottom: 45px;
  justify-content: space-between;
}

.we__item {
  background: #fff;
  padding-left: calc(20px + 30 * ((100vw - 320px) / 2200));
  padding-right: calc(20px + 30 * ((100vw - 320px) / 2200));
}

.we__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(30px + -5 * ((100vw - 320px) / 2200));
  padding-bottom: calc(30px + -5 * ((100vw - 320px) / 2200));
  padding-left: calc(20px + 30 * ((100vw - 320px) / 2200));
  padding-right: calc(20px + 30 * ((100vw - 320px) / 2200));
}

.we__item-wrapper--dashed {
  border-bottom: 1px dashed rgba(80, 90, 204, 0.4);
}

.we__item-text-area {
  width: 740px;
}

.we__item--last {
  background: #505ACC;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.we__item--first {
  border-radius: 20px 20px 0 0;
}

.we__item-name {
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  font-weight: 600;
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 2200));
}

.we__item-name.we__item-name--last {
  color: #fff;
}

.we__item-text.we__item-text--last {
  color: #fff;
}

.we__item-img.we__item-img--last {
  position: relative;
  top: 36px;
}

/* wem-section */
.wem {
  padding-top: calc(60px + 40 * ((100vw - 320px) / 2200));
  padding-bottom: calc(60px + 40 * ((100vw - 320px) / 2200));
  background: #FBFBFB;
  display: none;
}

.wem__item-name {
  color: #505ACC;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* how-section */
.how {
  padding-top: calc(85px + 55 * ((100vw - 320px) / 2200));
  padding-bottom: calc(85px + 55 * ((100vw - 320px) / 2200));
}

.how__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(40px + 15 * ((100vw - 320px) / 2200));
}

.how__left {
  width: 580px;
}

.how__right {
  width: 620px;
}

.how__title-area {
  margin-bottom: calc(20px + 15 * ((100vw - 320px) / 2200));
}

.how__item {
  display: flex;
  align-items: center;
  margin-bottom: calc(20px + 24 * ((100vw - 320px) / 2200));
}

.how__item--last {
  margin-bottom: 0;
}

.how__item-count {
  margin-right: 30px;
  font-size: 65px;
  color: #FDD21B;
  width: 74px;
}

.how__item-name {
  color: #11243E;
  font-weight: 600;
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  margin-bottom: calc(7px + 3 * ((100vw - 320px) / 2200));
}

.how__btn-area {
  text-align: center;
}

/* start-section */
.start {
  padding-top: calc(85px + 55 * ((100vw - 320px) / 2200));
  padding-bottom: calc(85px + 55 * ((100vw - 320px) / 2200));
}

.start__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.start__item {
  width: 400px;
  height: 433px;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
  padding-top: 20px;
  padding-left: calc(17px + 17 * ((100vw - 320px) / 2200));
  border-radius: 15px;
  box-shadow: 0px 8px 50px 0px rgba(80, 90, 204, 0.25);
}

.start__title-area {
  margin-bottom: calc(35px + 40 * ((100vw - 320px) / 2200));
}

.start__item-count {
  color: #FDD21B;
  font-size: calc(60px + 15 * ((100vw - 320px) / 2200));
  margin-bottom: 10px;
}

.start__item-text {
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  font-weight: 600;
  color: #fff;
}

.start__item.start__item--last {
  border: 1.5px dashed #505ACC;
  box-shadow: none;
}

.start__item-text.start__item-text--last {
  color: #11243E;
  margin-bottom: calc(63px + -25 * ((100vw - 320px) / 2200));
}

/* work-section */
.work {
  padding-top: calc(60px + 40 * ((100vw - 320px) / 2200));
  padding-bottom: calc(60px + 40 * ((100vw - 320px) / 2200));
  background: #FBFBFB;
}

.work__title {
  font-size: calc(20px + 25 * ((100vw - 320px) / 2200));
  font-weight: 600;
}

.work__title-p {
  margin-left: 60px;
}

.work__title-span {
  color: #505ACC;
}

.work__title-area {
  display: flex;
  justify-content: center;
  margin-bottom: calc(35px + 40 * ((100vw - 320px) / 2200));
}

.work__item {
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
  height: 155px;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 15px;
  position: relative;
  padding-right: calc(18px + 66 * ((100vw - 320px) / 2200));
}

.work__item-img {
  position: absolute;
  left: 0;
  top: 0;
}

.work__item-text-area {
  width: 710px;
}

.work__item-name {
  width: 710px;
  color: #505ACC;
  font-weight: 600;
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 2200));
}

.work__btn-area {
  margin-top: calc(40px + 45 * ((100vw - 320px) / 2200));
  text-align: center;
}

.work__item-img--second {
  display: none;
}

/* ask-section */
.ask {
  padding-bottom: calc(60px + 80 * ((100vw - 320px) / 2200));
}

.ask__wrapper {
  border-radius: 20px;
  background: #505ACC;
  padding-top: calc(30px + 25 * ((100vw - 320px) / 2200));
  padding-bottom: calc(30px + 35 * ((100vw - 320px) / 2200));
  padding-left: calc(40px + 70 * ((100vw - 320px) / 2200));
  padding-right: calc(40px + 70 * ((100vw - 320px) / 2200));
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 14px 16px 49px 0 rgba(80, 90, 204, 0.25);
}

.ask__title {
  font-size: calc(20px + 25 * ((100vw - 320px) / 2200));
  color: #fff;
  margin-bottom: calc(25px + 25 * ((100vw - 320px) / 2200));
}

.ask__row {
  display: flex;
  align-items: center;
}

.ask__left {
  width: 750px;
}

.ask__btn-icon {
  margin-left: 35px;
  position: relative;
  top: -10px;
}

/* why-section */
.why {
  padding-top: calc(85px + 55 * ((100vw - 320px) / 2200));
  padding-bottom: calc(85px + 55 * ((100vw - 320px) / 2200));
}

.why__title-area {
  margin-bottom: calc(35px + 95 * ((100vw - 320px) / 2200));
}

.why__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.why__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.why__item-img {
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 2200));
  height: 242px;
}

.why__item-text {
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  color: #11243E;
  font-weight: 600;
}

.why__item-img--second img {
  margin-top: 30px;
}

/* serv-section */
.serv {
  background: #FBFBFB;
  padding-top: calc(60px + 40 * ((100vw - 320px) / 2200));
  padding-bottom: calc(60px + 40 * ((100vw - 320px) / 2200));
}

.serv__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serv__title-area {
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
  text-align: left;
}

.serv__left {
  width: 600px;
}

.serv__right {
  width: 520px;
}

.serv__item {
  padding-left: 45px;
  background: url(../img/serv-checkmark.svg) no-repeat left center;
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  margin-bottom: calc(30px + 14 * ((100vw - 320px) / 2200));
  font-weight: 600;
  color: #11243E;
}

.serv__img {
  width: 500px;
  margin-top: 50px;
}

/* inc-section */
.inc__btn-area {
  text-align: center;
  margin-top: calc(40px + 10 * ((100vw - 320px) / 2200));
}

.serv--inc {
  padding-bottom: calc(85px + 55 * ((100vw - 320px) / 2200));
  background: #fff;
}

/* inter-section */
.inter {
  padding-bottom: calc(80px + 80 * ((100vw - 320px) / 2200));
}

.inter__item-text {
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  color: #11243E;
  font-weight: 600;
}

.inter__item {
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
  width: 595px;
}

.inter__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 70px;
}

.inter__title-area {
  margin-bottom: calc(35px + 32 * ((100vw - 320px) / 2200));
}

.inter__item-img {
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 2200));
  max-width: 350px;
}

/* footer */
.footer {
  background: #FCFCFC;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(156, 164, 172, 0.32);
}

.footer__column {
  width: 20%;
}

.footer__bottom {
  text-align: right;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.footer__socials {
  margin-right: 150px;
}

.footer__docs-link {
  font-size: calc(16px + -2 * ((100vw - 320px) / 2200));
  font-weight: 300;
  line-height: 140%;
  color: #11243E;
  transition: 0.2s ease;
}

.footer__docs-link:hover {
  color: #505ACC;
}

.footer__docs-link--first {
  margin-right: 28px;
}

.footer__socials-link {
  margin-right: 20px;
}

.footer__list {
  display: block;
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 2200));
  font-weight: 300;
  line-height: 140%;
  font-size: 16px;
  color: #11243E;
}

.footer__list:hover {
  color: #505ACC;
}

.footer__btn.btn--white {
  border: 1px solid #FDD21B;
}

.footer__btn.btn--white:hover {
  color: #fff;
  border-color: #505ACC;
}

.footer__phone {
  display: block;
  margin-top: calc(20px + 28 * ((100vw - 320px) / 2200));
  font-weight: 300;
  color: #11243E;
  font-size: 16px;
  text-align: right;
  transition: 0.2s ease;
}

.footer__phone:hover {
  color: #505ACC;
}

.footer__socials--mob {
  display: none;
}

/* ORGANASATION-PAGE */
/* org */
.org {
  padding-top: calc(37px + 39 * ((100vw - 320px) / 2200));
  padding-bottom: calc(100px + 80 * ((100vw - 320px) / 2200));
}

.org__tabs-links {
  padding: 10px;
  background: #F8F8F8;
  margin-bottom: 45px;
  border-radius: 5px;
}

.org__item {
  border-radius: 20px;
  background: url(../img/org-item-shadow.png) no-repeat center bottom/cover, #505ACC;
  padding: 30px;
  padding-left: calc(15px + 15 * ((100vw - 320px) / 2200));
  padding-right: calc(15px + 15 * ((100vw - 320px) / 2200));
  box-shadow: 11px 10px 44px 0 rgba(80, 90, 204, 0.24);
}

.org__item-name {
  color: #fff;
  text-align: center;
  font-size: calc(20px + 15 * ((100vw - 320px) / 2200));
  margin-bottom: calc(25px + 20 * ((100vw - 320px) / 2200));
  font-weight: 500;
}

.org__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.org__item {
  width: 400px;
  height: 720px;
  padding-bottom: calc(38px + 8 * ((100vw - 320px) / 2200));
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.org__item-list {
  font-weight: 500;
  font-size: calc(16px + 2 * ((100vw - 320px) / 2200));
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #fff;
  color: #fff;
}

.org__item-price {
  color: #fff;
  font-weight: 500;
  font-size: calc(35px + 10 * ((100vw - 320px) / 2200));
  position: relative;
  margin-bottom: 20px;
}

.org__item-btn-area {
  text-align: center;
}

.org__item-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org__item-price-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  right: -35px;
  top: 0;
}

.org__item-hover {
  position: absolute;
  width: 100%;
  left: 0;
  top: 700px;
  opacity: 1;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 20px;
}

.org__item:hover .org__item-box {
  opacity: 0;
}

.org__item:hover .org__item-hover {
  opacity: 1;
  top: 100px;
}

.org__item:hover .org__item-btn.btn--yellow {
  background: transparent;
  border: 1px solid #FDD21B;
  color: #fff;
}

.org__item-check {
  font-size: calc(16px + 2 * ((100vw - 320px) / 2200));
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 140%;
  color: #fff;
  display: flex;
  align-items: flex-start;
}

/* orgm */
.orgm {
  display: none;
}

.orgm__item {
  padding-top: calc(40px + 10 * ((100vw - 320px) / 2200));
}

.orgm__item-name {
  color: #505ACC;
  font-weight: 600;
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  margin-bottom: calc(35px + 15 * ((100vw - 320px) / 2200));
}

.orgm__slider-arrows {
  position: relative;
  top: 76px;
}

.orgm__wrapper-name {
  margin-bottom: 35px;
  color: #505ACC;
  font-weight: 600;
  font-size: 18px;
}

/* ONES-PAGE */
.ones {
  padding-top: calc(37px + 41 * ((100vw - 320px) / 2200));
}

.ones__title {
  margin-bottom: calc(15px + -5 * ((100vw - 320px) / 2200));
}

.ones__text-area {
  margin-bottom: calc(35px + 40 * ((100vw - 320px) / 2200));
}

.ones__item-name {
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  font-weight: 600;
  color: #fff;
}

.org__item.ones__item {
  height: 420px;
}

.ones__text-area {
  width: 900px;
}

/* more-section */
.more {
  padding-top: calc(85px + 55 * ((100vw - 320px) / 2200));
  padding-bottom: calc(100px + 80 * ((100vw - 320px) / 2200));
}

.more__wrapper {
  display: flex;
  justify-content: space-between;
}

.more__title-area {
  margin-bottom: calc(20px + 7 * ((100vw - 320px) / 2200));
}

.more__btn-icon {
  margin-left: calc(30px + 10 * ((100vw - 320px) / 2200));
}

.more__title br {
  display: none;
}

/* LEGAL-PAGE */
.org__item.legal__item {
  height: 240px;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
}

/* GASFORT */
.footer-gasfort {
  margin-left: auto;
}

.footer-gasfort span {
  color: #11243E;
}

/* BLOG-PAGE */
.blog {
  padding-top: calc(37px + 41 * ((100vw - 320px) / 2200));
  padding-bottom: 100px;
}

.blog__item {
  display: flex;
  width: 48%;
}

.blog__subtitle {
  width: 900px;
  margin-bottom: calc(35px + 40 * ((100vw - 320px) / 2200));
  max-width: 100%;
}

.blog__title-area {
  margin-bottom: calc(15px + -5 * ((100vw - 320px) / 2200));
}

.blog__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item {
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
  align-items: center;
}

.blog__item-content {
  width: 280px;
}

.blog__item-img {
  margin-right: 20px;
}

.blog__item-name {
  font-size: calc(18px + 7 * ((100vw - 320px) / 2200));
  font-weight: 600;
  color: #11243E;
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 2200));
}

.blog__text-area {
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 2200));
}

.blog__item-date {
  color: #B0B7BF;
}

.blog__pag {
  display: flex;
  width: 206px;
  align-items: center;
  margin-top: 40px;
}

.blog__pag-list {
  display: flex;
  margin: 0 15px;
}

.blog__pag-li {
  font-size: 18px;
  color: #B0B7BF;
  margin-right: 15px;
}

.blog__pag-li--active {
  color: #505ACC;
}

.blog__pag-dots {
  margin-right: 15px;
  color: #B0B7BF;
  font-size: 18px;
}

.blog__pag-li--last {
  margin-right: 0;
}

.blog__pag-arrow {
  height: 30px;
}

/* POPUP */
.popup {
  width: 470px;
  padding: 30px 45px;
  background: #fff;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
}

.popup__input {
  width: 380px;
  height: 68px;
  font-size: 18px;
  padding-right: 15px;
}

.popup__cell {
  margin-bottom: 30px;
}

.popup__title {
  font-size: 35px;
  line-height: 48px;
  color: #11243E;
  margin-bottom: 35px;
}

.popup__btn-area {
  text-align: center;
}





/* yudevices */
.index--mobile .container {
  padding-left: 20px;
  padding-right: 20px;
}

.yuchoise {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  z-index: 999999;
}

.yuchoise__item {
  width: 100px;
  height: 100px;
  color: #fff;
  background: #111;
  border-radius: 100px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.yuchoise__item img {
  max-width: 35px;
}

.yudevices {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999999999;
  background: #888;
  left: -100vw;
  transition: 0.2s ease
}

.yudevices--active.yudevices {
  left: 0;
}

.yudevices__phone {
  width: 450px;
  height: 950px;
  background: url(../iphone3.svg) no-repeat center center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 145px;
  padding-bottom: 145px;
  overflow: hidden;
}

.yudevices__phone iframe {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999;
  border: none;
}

.yudevices__phone img {
  position: relative;
  top: -726px;
  width: 450px;
  height: auto;
}