* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Общее */
.portfolio {
    background: #F2F2F2;
    padding-top: 80px;
    padding-bottom: 80px;
}

.portfolio__box {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.portfolio__imgs {
    display: grid;
    grid-template-columns: 5fr 3fr 1.8fr;
    gap: 25px;
    justify-content: space-between;
}

.portfolio__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.portfolio__title {
    font-size: 70px;
    font-weight: 500;
}

.portfolio__btn {
    font-weight: 700;
    font-size: 50px;
    padding: 0px 50px;
}

/* new lex */
.portfolio__item--new-lex img {
    border: 5px solid #BBBCE3;
}

.portfolio__item--new-lex .portfolio__btn {
    background: #505ACC;
    color: #FDD21B;
}

.portfolio__item--new-lex .portfolio__nav {
    margin-top: -70px;
}

/* oksy */
.portfolio__item--oksy img {
    border: 5px solid #F0C5FF;
}

.portfolio__item--oksy .portfolio__btn {
    background: #B35FF5;
    color: #fff;
}