* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

section{
	padding: 50px 0;
}

.container{
	width: 90%;
	margin: 0 auto;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: #222;
	background: url(img/main-bg.jpg) no-repeat center center/cover;
	color: #fff;
	overflow: hidden;
	line-height: 1.8;
}
.logo {
	font-size: 30px;
	font-weight: 900;
	display: inline-block;
	background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 15px;
}

.sites__box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.site__item{
	width: 32%;
	text-align: center;
	margin-bottom: 25px;
}

.site__item-img img{
	max-width: 100%;
}

.site__item-text{
	color: #fff;
	font-size: 20px;
}