@charset "UTF-8";
/* Адаптивные свойства */
@media screen and (max-width: 1340px) {
  .tabs__link--def {
    font-size: 16px;
    padding: 10px 21px; }
  .header__logo {
    width: 170px; }
  .menu__link {
    font-size: 15px; }
    .menu__link br {
      display: block; }
  .menu__item {
    margin-right: 65px; }
  .main__btn--yellow {
    margin-right: 50px; }
  .how__img {
    width: 400px; }
  .how__left {
    width: 420px; }
  .how__right {
    width: 490px; }
  .how__item {
    align-items: flex-start; }
  .how__item-count {
    margin-right: 25px;
    font-size: 55px;
    min-width: 84px;
    text-align: right; }
  .one__left {
    width: 440px; }
  .one__text br {
    display: none; }
  .one__btns {
    flex-wrap: wrap; }
  .one__btn-area {
    margin-right: 0;
    margin-bottom: 22px; }
  .we__item-text-area {
    width: 540px; }
  .start__item {
    width: 31.5%;
    height: 443px; }
  .ask__left {
    width: 520px; }
  .inter__item {
    width: 425px; }
  .serv__img {
    width: 400px;
    text-align: left; }
    .serv__img img {
      margin-right: auto;
      margin-left: 0; }
  .footer__logo {
    width: 150px; }
  .footer__column {
    width: 13%; }
  .work__item-name {
    width: 450px; }
  .work__item-text-area {
    width: 450px; }
  .org__item {
    width: 310px;
    height: auto; }
  .org__item-name {
    font-size: 24px; }
  .ones__text-area {
    width: 700px;
    max-width: 100%; }
  .org__item-check {
    font-size: 14px; }
  .org__item-hover {
    padding-top: 0; }
  .org__item {
    height: 610px; }
  .btn--purple.start__btn {
    padding: 18px 23px; }
  .why__item--first {
    width: 29%; }
  .why__item--second {
    width: 35%; }
  .why__item--last {
    width: 25%; }
  .why__item-img--first img {
    margin-top: 20px; }
  .serv__wrapper--first {
    align-items: flex-end; }
  .footer__socials {
    margin-right: 0; }
  .footer__bottom {
    justify-content: space-between; }
  .footer-gasfort {
    margin-left: 0; }
  .blog__item-content {
    width: 230px; }
  .blog__item-img {
    width: 200px; }
  .blog__item {
    align-items: flex-start; }
  .main__btns {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; }
  .main__btn--yellow {
    margin-right: 0; }
  .main__btn {
    margin-left: 0;
    margin-right: auto; } }

@media screen and (max-width: 991px) {
  .header__nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: -200%;
    top: 0;
    background: #505ACC;
    z-index: 999; }
  .header__btn-area--1 {
    display: none; }
  .header__burger {
    display: block;
    cursor: pointer; }
  .header__btn-area--2 {
    display: block; }
  .header__nav--open {
    right: 0%;
    padding-left: calc(37px + 23 * ((100vw - 320px) / 2200));
    padding-right: calc(37px + 23 * ((100vw - 320px) / 2200));
    padding-top: calc(45px + 35 * ((100vw - 320px) / 2200));
    z-index: 999999; }
  .header__menu {
    flex-direction: column; }
  .menu__link {
    font-size: calc(16px + 8 * ((100vw - 320px) / 2200));
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
    display: block;
    color: #fff; }
    .menu__link br {
      display: none; }
  .header__btn-area--2 {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 2200)); }
  .menu__item {
    margin-right: 0; }
  .header__nav-close {
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    width: 40px; }
  .main__btn {
    width: 278px;
    height: 100px; }
  .how__wrapper {
    flex-direction: column; }
  .how__left {
    width: 100%;
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 2200)); }
  .how__item-name br {
    display: none; }
  .how__right {
    width: 100%; }
  .one__wrapper {
    align-items: flex-end; }
  .we {
    display: none; }
  .we__item-text-area {
    width: 370px; }
  .we__item-img {
    width: 200px; }
  .wem__slider-arrows {
    top: 30px;
    position: relative; }
  .we__title br {
    display: none; }
  .start__item {
    width: 360px;
    height: 420px; }
  .why__box {
    flex-wrap: wrap; }
  .why__item {
    width: 45%;
    margin-bottom: 50px; }
  .why__item.why__item--last {
    width: 100%;
    margin-bottom: 0; }
  .serv__left {
    width: 400px; }
  .serv__right {
    width: 300px; }
  .inter__item {
    width: 45%; }
  .inter__item-img {
    width: 200px; }
  .serv__img {
    width: 350px; }
  .footer__top {
    flex-wrap: wrap; }
  .footer__column {
    order: 3;
    width: 100%; }
  .footer__docs {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end; }
  .footer__bottom {
    justify-content: space-between; }
  .footer__docs-link--first {
    margin-right: 0;
    margin-bottom: 10px; }
  .work__item-img--first {
    display: none; }
  .work__item-img--second {
    display: block;
    position: static; }
  .work__item {
    height: auto;
    padding-top: 20px;
    padding-left: calc(20px + 20 * ((100vw - 320px) / 2200));
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .work__item-name {
    width: 100%; }
  .work__item-text-area {
    width: 100%; }
  .work__item-content {
    width: 400px;
    margin-right: 40px; }
  .org__item {
    width: 100%;
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 2200));
    box-shadow: none; }
  .org__wrapper {
    flex-wrap: wrap; }
  .orgm {
    display: block; }
  .org {
    display: none; }
  .org__item.ones__item {
    height: 310px; }
  .more__btn-icon {
    display: none; }
  .org__item.legal__item {
    width: 48%; }
  .wem {
    display: block; }
  .org__wrapper.orgm__wrapper {
    padding-top: 40px; }
  .header__burger {
    width: 50px; }
  .header__nav-socials {
    display: flex; }
  .ask__right {
    max-width: 200px; }
  .why__item-img {
    height: auto !important; }
  .serv__wrapper--first {
    align-items: flex-start; }
  .header__logo {
    width: 150px; }
  .blog__item {
    flex-direction: column;
    width: 45%; }
  .blog__item-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 2200)); }
  .blog__item-content {
    width: 100%; }
  .main__wrapper {
    flex-direction: column;
    align-items: flex-start; }
  .main__left {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .main__btns {
    flex-direction: row; }
  .main__btn {
    margin: 0;
    text-align: left; }
  .main__right {
    width: 70%;
    margin: 0 auto; }
  .one {
    padding-top: 0px; }
  .main__btns {
    justify-content: center; } }

@media screen and (max-width: 780px) {
  .main__title br {
    display: none; }
  .main__text br {
    display: none; }
  .main__btn--yellow {
    margin-right: 30px; }
  .how__item-count {
    min-width: 70px; }
  .one__wrapper {
    flex-direction: column; }
  .one__left {
    width: 100%; }
  .one__btns {
    flex-direction: column; }
  .one__btn-icon {
    bottom: 74px;
    left: 220px; }
  .one__right {
    margin-top: -130px; }
  .we__item-wrapper {
    flex-direction: column-reverse; }
  .we__item-content {
    margin-bottom: 57px; }
  .we__item-text-area {
    width: 100%; }
  .we__item-img {
    width: 100%; }
    .we__item-img img {
      margin-left: auto;
      margin-right: auto; }
  .we__item-content.we__item-content--last {
    margin-bottom: 0; }
  .wem__slider-arrows {
    top: -10px; }
  .start__item {
    width: 48%;
    height: 400px; }
  .start__btn.btn--purple {
    width: 100%; }
  .start__item {
    padding: calc(15px + 15 * ((100vw - 320px) / 2200)); }
  .ask {
    display: none; }
  .why__item-img {
    text-align: center; }
  .serv__left {
    width: 300px; }
  .serv__img {
    max-width: 250px; }
  .org__item {
    min-height: 540px; }
  .org__item.ones__item {
    min-height: 340px;
    height: auto; }
  .org__item.legal__item {
    height: 240px;
    min-height: 240px; }
  .one__wrapper {
    padding-bottom: calc(30px + 25 * ((100vw - 320px) / 1600)); }
  .serv__wrapper {
    align-items: flex-start; }
  .footer__bottom {
    flex-wrap: wrap; }
  .footer-gasfort {
    width: 100%;
    margin-top: 50px; }
  .footer-gasfort_img {
    max-width: 120px; }
  .footer-gasfort span {
    font-size: 14px; }
  .main__left {
    width: 90%; } }

@media screen and (max-width: 700px) {
  .start__box {
    justify-content: center; }
  .start__item {
    width: 350px; }
  .more__right {
    display: none; }
  .more__btn-icon {
    display: inline-block; }
  .one__right {
    display: none; }
  .one__wrapper {
    padding-bottom: 0; }
  .header__burger {
    width: 40px; }
  .main__left {
    width: 100%; } }

@media screen and (max-width: 650px) {
  .serv__wrapper {
    flex-direction: column; }
  .serv__left {
    width: 100%; }
  .serv__right {
    width: 100%; }
  .serv__img {
    width: 350px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 20px; }
  .serv__title br {
    display: none; }
  .footer__socials {
    margin-right: 20px; }
  .footer__docs-link {
    max-width: 300px; }
  .ones__title br {
    display: none; }
  .why__item-img {
    height: auto; }
    .why__item-img img {
      margin: 0; }
  .serv__wrapper--first .serv__right {
    margin-top: 20px; }
  .header__logo {
    width: 160px; } }

@media screen and (max-width: 574px) {
  .main__btns {
    flex-direction: column;
    align-items: flex-start; }
  .main__btn--yellow {
    margin-right: 0; }
  .main__btn {
    width: 100%;
    height: 110px; }
  .how__item {
    flex-direction: column; }
  .how__item-count {
    min-width: 0;
    margin-right: 0;
    text-align: left; }
  .how__img {
    max-width: 100%; }
  .one__btn-icon {
    display: none; }
  .one__right {
    width: auto;
    margin-top: calc(20px + 40 * ((100vw - 320px) / 2200)); }
  .one__wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 2200)); }
  .one__btn {
    width: 100%;
    text-align: center;
    padding: 18px 25px; }
  .one2__btn-area {
    margin-right: 0; }
  .we__item {
    padding-left: 0;
    padding-right: 0; }
  .why__box {
    flex-direction: column; }
  .why__item {
    width: 100%; }
  .serv__img {
    width: 100%; }
  .inter__item {
    width: 100%; }
  .inter__item-img {
    width: 150px; }
  .footer__right {
    order: 4; }
  .footer__logo {
    margin-bottom: 35px; }
  .footer__phone {
    text-align: left; }
  .footer__socials--desk {
    display: none; }
  .footer__socials--mob {
    display: block;
    margin-top: 20px; }
  .footer__docs {
    align-items: flex-start;
    text-align: left; }
  .footer__logo {
    width: 105px; }
  .work__item {
    flex-direction: column;
    width: 100%; }
  .work__item-content {
    margin-right: 0;
    margin-bottom: 21px;
    width: 100%; }
  .org__item.ones__item {
    min-height: 350px; }
  .more__title br {
    display: block; }
  .org__item.legal__item {
    width: 100%; }
  .one__wrapper {
    padding-bottom: calc(30px + 25 * ((100vw - 320px) / 1600));
    padding-right: calc(30px + 80 * ((100vw - 320px) / 1600)); }
  .orgm__item-name {
    max-width: 70%; }
  .orgm__wrapper-name {
    max-width: 70%; }
  .org__item-hover {
    padding-left: 13px;
    padding-right: 18px; }
  .header__nav-close {
    width: 30px; }
  .header__burger {
    width: 34px; }
  .footer-gasfort {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .blog__item {
    width: 100%;
    flex-direction: row;
    justify-content: space-between; }
  .blog__item-content {
    width: 49%; }
  .blog__item-img {
    width: 45%;
    margin-bottom: 0; }
  .blog__title br {
    display: none; }
  .popup {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px; }
  .popup__title {
    font-size: calc(20px + 15 * ((100vw - 320px) / 2200));
    line-height: calc(30px + 15 * ((100vw - 320px) / 2200)); }
  .popup__input {
    height: 50px; }
  .popup__cell {
    margin-bottom: 20px; }
  .popup__title {
    margin-bottom: 25px; }
  .field--default {
    border-radius: 5px; }
  .how__img {
    width: 290px; } }

@media screen and (max-width: 500px) {
  .start__item {
    width: 350px;
    height: 380px; }
  .more__btn-icon {
    display: none; }
  .blog__item {
    flex-direction: column; }
  .blog__item-content {
    width: 100%; }
  .blog__item-img {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0; }
  .main__right {
    width: 100%; } }

@media screen and (max-width: 400px) {
  .start__item {
    width: 100%; }
  .header__logo {
    width: 130px; } }
