@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/black/MontserratBlack.eot');
    src: url('../fonts/Montserrat/black/MontserratBlack.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/black/MontserratBlack.woff2') format('woff2'),
         url('../fonts/Montserrat/black/MontserratBlack.woff') format('woff'),
         url('../fonts/Montserrat/black/MontserratBlack.ttf') format('truetype'),
         url('../fonts/Montserrat/black/MontserratBlack.svg') format('svg');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/blackitalic/MontserratBlackItalic.eot');
    src: url('../fonts/Montserrat/blackitalic/MontserratBlackItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/blackitalic/MontserratBlackItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/blackitalic/MontserratBlackItalic.woff') format('woff'),
         url('../fonts/Montserrat/blackitalic/MontserratBlackItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/blackitalic/MontserratBlackItalic.svg') format('svg');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/bold/MontserratBold.eot');
    src: url('../fonts/Montserrat/bold/MontserratBold.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/bold/MontserratBold.woff2') format('woff2'),
         url('../fonts/Montserrat/bold/MontserratBold.woff') format('woff'),
         url('../fonts/Montserrat/bold/MontserratBold.ttf') format('truetype'),
         url('../fonts/Montserrat/bold/MontserratBold.svg') format('svg');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/bolditalic/MontserratBoldItalic.eot');
    src: url('../fonts/Montserrat/bolditalic/MontserratBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/bolditalic/MontserratBoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/bolditalic/MontserratBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/bolditalic/MontserratBoldItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/bolditalic/MontserratBoldItalic.svg') format('svg');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/extrabold/MontserratExtraBold.eot');
    src: url('../fonts/Montserrat/extrabold/MontserratExtraBold.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/extrabold/MontserratExtraBold.woff2') format('woff2'),
         url('../fonts/Montserrat/extrabold/MontserratExtraBold.woff') format('woff'),
         url('../fonts/Montserrat/extrabold/MontserratExtraBold.ttf') format('truetype'),
         url('../fonts/Montserrat/extrabold/MontserratExtraBold.svg') format('svg');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/extrabolditalic/MontserratExtraBoldItalic.eot');
    src: url('../fonts/Montserrat/extrabolditalic/MontserratExtraBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/extrabolditalic/MontserratExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/extrabolditalic/MontserratExtraBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/extrabolditalic/MontserratExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/extrabolditalic/MontserratExtraBoldItalic.svg') format('svg');
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/extralight/MontserratExtraLight.eot');
    src: url('../fonts/Montserrat/extralight/MontserratExtraLight.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/extralight/MontserratExtraLight.woff2') format('woff2'),
         url('../fonts/Montserrat/extralight/MontserratExtraLight.woff') format('woff'),
         url('../fonts/Montserrat/extralight/MontserratExtraLight.ttf') format('truetype'),
         url('../fonts/Montserrat/extralight/MontserratExtraLight.svg') format('svg');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/extralightitalic/MontserratExtraLightItalic.eot');
    src: url('../fonts/Montserrat/extralightitalic/MontserratExtraLightItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/extralightitalic/MontserratExtraLightItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/extralightitalic/MontserratExtraLightItalic.woff') format('woff'),
         url('../fonts/Montserrat/extralightitalic/MontserratExtraLightItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/extralightitalic/MontserratExtraLightItalic.svg') format('svg');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/italic/MontserratItalic.eot');
    src: url('../fonts/Montserrat/italic/MontserratItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/italic/MontserratItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/italic/MontserratItalic.woff') format('woff'),
         url('../fonts/Montserrat/italic/MontserratItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/italic/MontserratItalic.svg') format('svg');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/light/MontserratLight.eot');
    src: url('../fonts/Montserrat/light/MontserratLight.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/light/MontserratLight.woff2') format('woff2'),
         url('../fonts/Montserrat/light/MontserratLight.woff') format('woff'),
         url('../fonts/Montserrat/light/MontserratLight.ttf') format('truetype'),
         url('../fonts/Montserrat/light/MontserratLight.svg') format('svg');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/lightitalic/MontserratLightItalic.eot');
    src: url('../fonts/Montserrat/lightitalic/MontserratLightItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/lightitalic/MontserratLightItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/lightitalic/MontserratLightItalic.woff') format('woff'),
         url('../fonts/Montserrat/lightitalic/MontserratLightItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/lightitalic/MontserratLightItalic.svg') format('svg');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/medium/MontserratMedium.eot');
    src: url('../fonts/Montserrat/medium/MontserratMedium.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/medium/MontserratMedium.woff2') format('woff2'),
         url('../fonts/Montserrat/medium/MontserratMedium.woff') format('woff'),
         url('../fonts/Montserrat/medium/MontserratMedium.ttf') format('truetype'),
         url('../fonts/Montserrat/medium/MontserratMedium.svg') format('svg');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/mediumitalic/MontserratMediumItalic.eot');
    src: url('../fonts/Montserrat/mediumitalic/MontserratMediumItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/mediumitalic/MontserratMediumItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/mediumitalic/MontserratMediumItalic.woff') format('woff'),
         url('../fonts/Montserrat/mediumitalic/MontserratMediumItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/mediumitalic/MontserratMediumItalic.svg') format('svg');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/regular/MontserratRegular.eot');
    src: url('../fonts/Montserrat/regular/MontserratRegular.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/regular/MontserratRegular.woff2') format('woff2'),
         url('../fonts/Montserrat/regular/MontserratRegular.woff') format('woff'),
         url('../fonts/Montserrat/regular/MontserratRegular.ttf') format('truetype'),
         url('../fonts/Montserrat/regular/MontserratRegular.svg') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/semibold/MontserratSemiBold.eot');
    src: url('../fonts/Montserrat/semibold/MontserratSemiBold.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/semibold/MontserratSemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat/semibold/MontserratSemiBold.woff') format('woff'),
         url('../fonts/Montserrat/semibold/MontserratSemiBold.ttf') format('truetype'),
         url('../fonts/Montserrat/semibold/MontserratSemiBold.svg') format('svg');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/semibolditalic/MontserratSemiBoldItalic.eot');
    src: url('../fonts/Montserrat/semibolditalic/MontserratSemiBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/semibolditalic/MontserratSemiBoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/semibolditalic/MontserratSemiBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/semibolditalic/MontserratSemiBoldItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/semibolditalic/MontserratSemiBoldItalic.svg') format('svg');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/thin/MontserratThin.eot');
    src: url('../fonts/Montserrat/thin/MontserratThin.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/thin/MontserratThin.woff2') format('woff2'),
         url('../fonts/Montserrat/thin/MontserratThin.woff') format('woff'),
         url('../fonts/Montserrat/thin/MontserratThin.ttf') format('truetype'),
         url('../fonts/Montserrat/thin/MontserratThin.svg') format('svg');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/thinitalic/MontserratThinItalic.eot');
    src: url('../fonts/Montserrat/thinitalic/MontserratThinItalic.eot') format('embedded-opentype'),
         url('../fonts/Montserrat/thinitalic/MontserratThinItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/thinitalic/MontserratThinItalic.woff') format('woff'),
         url('../fonts/Montserrat/thinitalic/MontserratThinItalic.ttf') format('truetype'),
         url('../fonts/Montserrat/thinitalic/MontserratThinItalic.svg') format('svg');
    font-style: italic;
    font-weight: 100;
}


/**/

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/black/ProximaNovaBlack.eot');
    src: url('../fonts/ProximaNova/black/ProximaNovaBlack.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/black/ProximaNovaBlack.woff2') format('woff2'),
         url('../fonts/ProximaNova/black/ProximaNovaBlack.woff') format('woff'),
         url('../fonts/ProximaNova/black/ProximaNovaBlack.ttf') format('truetype'),
         url('../fonts/ProximaNova/black/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/blackitalic/ProximaNovaBlackIt.eot');
    src: url('../fonts/ProximaNova/blackitalic/ProximaNovaBlackIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/blackitalic/ProximaNovaBlackIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/blackitalic/ProximaNovaBlackIt.woff') format('woff'),
         url('../fonts/ProximaNova/blackitalic/ProximaNovaBlackIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/blackitalic/ProximaNovaBlackIt.svg#ProximaNovaBlackIt') format('svg');
    font-style: italic;
    font-weight: 900;
}
@font-face {
   font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/bold/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNova/bold/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/bold/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNova/bold/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNova/bold/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNova/bold/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
     font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/bolditalic/ProximaNovaBoldIt.eot');
    src: url('../fonts/ProximaNova/bolditalic/ProximaNovaBoldIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/bolditalic/ProximaNovaBoldIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/bolditalic/ProximaNovaBoldIt.woff') format('woff'),
         url('../fonts/ProximaNova/bolditalic/ProximaNovaBoldIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/bolditalic/ProximaNovaBoldIt.svg#ProximaNovaBoldIt') format('svg');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/extrabold/ProximaNovaExtrabld.eot');
    src: url('../fonts/ProximaNova/extrabold/ProximaNovaExtrabld.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/extrabold/ProximaNovaExtrabld.woff2') format('woff2'),
         url('../fonts/ProximaNova/extrabold/ProximaNovaExtrabld.woff') format('woff'),
         url('../fonts/ProximaNova/extrabold/ProximaNovaExtrabld.ttf') format('truetype'),
         url('../fonts/ProximaNova/extrabold/ProximaNovaExtrabld.svg#ProximaNovaExtrabld') format('svg');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/extrabolditalic/ProximaNovaExtrabldIt.eot');
    src: url('../fonts/ProximaNova/extrabolditalic/ProximaNovaExtrabldIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/extrabolditalic/ProximaNovaExtrabldIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/extrabolditalic/ProximaNovaExtrabldIt.woff') format('woff'),
         url('../fonts/ProximaNova/extrabolditalic/ProximaNovaExtrabldIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/extrabolditalic/ProximaNovaExtrabldIt.svg#ProximaNovaExtrabldIt') format('svg');
     font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/light/ProximaNovaLight.eot');
    src: url('../fonts/ProximaNova/light/ProximaNovaLight.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/light/ProximaNovaLight.woff2') format('woff2'),
         url('../fonts/ProximaNova/light/ProximaNovaLight.woff') format('woff'),
         url('../fonts/ProximaNova/light/ProximaNovaLight.ttf') format('truetype'),
         url('../fonts/ProximaNova/light/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/lightitalic/ProximaNovaLightIt.eot');
    src: url('../fonts/ProximaNova/lightitalic/ProximaNovaLightIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/lightitalic/ProximaNovaLightIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/lightitalic/ProximaNovaLightIt.woff') format('woff'),
         url('../fonts/ProximaNova/lightitalic/ProximaNovaLightIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/lightitalic/ProximaNovaLightIt.svg#ProximaNovaLightIt') format('svg');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/regular/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNova/regular/ProximaNovaRegular.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/regular/ProximaNovaRegular.woff2') format('woff2'),
         url('../fonts/ProximaNova/regular/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNova/regular/ProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/ProximaNova/regular/ProximaNovaRegular.svg#ProximaNovaRegularIt') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/regularitalic/ProximaNovaRegularIt.eot');
    src: url('../fonts/ProximaNova/regularitalic/ProximaNovaRegularIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/regularitalic/ProximaNovaRegularIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/regularitalic/ProximaNovaRegularIt.woff') format('woff'),
         url('../fonts/ProximaNova/regularitalic/ProximaNovaRegularIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/regularitalic/ProximaNovaRegularIt.svg#ProximaNovaRegularIt') format('svg');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/semibold/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNova/semibold/ProximaNovaSemibold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/semibold/ProximaNovaSemibold.woff2') format('woff2'),
         url('../fonts/ProximaNova/semibold/ProximaNovaSemibold.woff') format('woff'),
         url('../fonts/ProximaNova/semibold/ProximaNovaSemibold.ttf') format('truetype'),
         url('../fonts/ProximaNova/semibold/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/semibolditalic/ProximaNovaSemiboldIt.eot');
    src: url('../fonts/ProximaNova/semibolditalic/ProximaNovaSemiboldIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/semibolditalic/ProximaNovaSemiboldIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/semibolditalic/ProximaNovaSemiboldIt.woff') format('woff'),
         url('../fonts/ProximaNova/semibolditalic/ProximaNovaSemiboldIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/semibolditalic/ProximaNovaSemiboldIt.svg#ProximaNovaSemiboldIt') format('svg');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/thinitalic/ProximaNovaThinIt.eot');
    src: url('../fonts/ProximaNova/thinitalic/ProximaNovaThinIt.eot') format('embedded-opentype'),
         url('../fonts/ProximaNova/thinitalic/ProximaNovaThinIt.woff2') format('woff2'),
         url('../fonts/ProximaNova/thinitalic/ProximaNovaThinIt.woff') format('woff'),
         url('../fonts/ProximaNova/thinitalic/ProximaNovaThinIt.ttf') format('truetype'),
         url('../fonts/ProximaNova/thinitalic/ProximaNovaThinIt.svg#ProximaNovaThinIt') format('svg');
    font-style: italic;
    font-weight: 100;
}