/* yudevices */
.index--mobile .container {
    padding-left: 20px;
    padding-right: 20px;
}

.yuchoise {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    z-index: 999999;
}

.yuchoise__item {
    width: 100px;
    height: 100px;
    color: #fff;
    background: #111;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.yuchoise__item img {
    max-width: 35px;
}

.yudevices {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999999999;
    background: #888;
    left: -100vw;
    transition: 0.2s ease
}

.yudevices--active.yudevices {
    left: 0;
}

.yudevices__phone {
    width: 450px;
    height: 950px;
    background: url(../_portfolio\ interface/iphone.svg) no-repeat center center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 145px;
    padding-bottom: 145px;
    overflow: hidden;
}

.yudevices__phone iframe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9999;
    border: none;
}

.yudevices__phone img {
    position: relative;
    top: -726px;
    width: 450px;
    height: auto;
}